# Carpetas específicas del proyecto
/web/*
/windows/*
/macos/*

# Configuraciones del entorno de desarrollo
/.idea/

# Archivos generados por Flutter/Dart
/build/
/.dart_tool/
.metadata/

# Bloqueo de dependencias
pubspec.lock

# Ignorar logs o temporales (opcional)
*.log
*.tmp
